{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mtp Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        {% if app.user %}  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        {% endif %}
        <span class="navbar-text">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <div class="container mt-5">
        <div class="blog-header">
            <h2 class="blog-title">Crear Usuario</h2>
        </div>

        <div class="row">
            <div class="col-sm-12 blog-main">
                {{ form_start(form) }}
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_row(form.password) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_row(form.country) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_row(form.photo) }}
                    </div>
                </div>
                <div class="form-group col-md-4 pull-right">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
