{% extends 'base.html.twig' %}
{% block title %}
  {% if (create_user) %}
    Create User
  {% else %}
    Update User
  {% endif %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mtp Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        {% if app.user %}  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        {% endif %}
        <span class="navbar-text">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="card">
      {{ form_start(form) }}
        {% if (create_user) %}
          <h5 class="card-header">Create User</h5>
        {% else %}
          <h5 class="card-header">Update User</h5>
        {% endif %}
        <div class="card-body">
          <div class="form-group col-md-6 offset-md-3">
              {{ form_row(form.email) }}
          </div>
          <div class="form-group col-md-6 offset-md-3">
              {{ form_row(form.password) }}
          </div>
          <div class="form-group col-md-6 offset-md-3">
              {{ form_row(form.country) }}
          </div>
          <div class="col-md-6 offset-md-3">
              {{ form_row(form.profilePic) }}
          </div>
          <div class="form-group col-md-6 offset-md-3">
            {{ form_row(form.submit) }}
          </div>
        </div>
      {{ form_end(form) }}
      </div>
    </div>
{% endblock %}
