{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mtp Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        {% if app.user %}  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        {% endif %}
        <span class="navbar-text">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 text-right">
                <a  class="btn btn-primary"
                    href="{{ path('create_user') }}">
                    Add User
                </a>
            </div>
        </div>
        <table class="table mt-2">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Country</th>
                <th scope="col">Profile Pic</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
              {% for key,value in users %}
                <tr>
                  <th scope="row">{{ value['id'] }}</th>
                  <td>{{ value['email'] }}</td>
                  <td>{{ value['country'] }}</td>
                  <td>
                    {% if (value['photo'] != null) %}
                      <img src="uploads/user_photo/{{value['photo']}}" width="85" height="85" class="rounded float-start" alt="{{value['photo']}}">
                    {% else %}
                      <img src="no_photo.png" width="85" height="85" class="rounded float-start" alt="{{value['photo']}}">
                    {% endif %}
                  </td>
                  <td>
                      <a  class="btn btn-primary"
                          href="{{ path('update_user', {'id': value['id'] }) }}">
                          <i class="fas fa-user-edit"></i>
                      </a>
                      <a  class="btn btn-danger"
                          href="{{ path('delete_user', {'id': value['id'] }) }}">
                          <i class="fas fa-user-times"></i>
                      </a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
